@model Repositorio.Entidades.Aluno
@{
    ViewBag.Title = "Detalhes do Aluno";
}

<div class="row">
    <div class="col-lg-12 col-md-12 heading">
        <h1 class="page-header"><i class="im-file"></i>Aluno</h1>
        <ul class="breadcrumb"> </ul>
    </div>
</div>
<div class="outlet">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="panel panel-default plain">
                <div class="panel-heading white-bg">
                </div>
                <div class="panel-body">
                    @if (ViewBag.Exception != null)
                    {
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-danger panel-closed toggle panelRefresh panelClose showControls">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> Erro ao realizar operação, tente novamente! </h4>
                                </div>
                                <div class="panel-body">
                                    <font size="-2"> @ViewBag.Exception </font>
                                </div>
                            </div>
                        </div>
                    }
                    <table class="table">
                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALemail)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALemail)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALsenha)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALsenha)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALnome)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALnome)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALcurso)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALcurso)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALperiodo)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALperiodo)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALcampus)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALcampus)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.ALprojetos)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.ALprojetos)
                            </td>
                        </tr>

                        <tr>
                            <td align="right"> @Html.DisplayNameFor(model => model.TipoUsuario.TUdescricao)</td>
                            <td align="left">
                                @Html.DisplayFor(model => model.TipoUsuario.TUdescricao)
                            </td>
                        </tr>
                        <tr>
                            <td align="right">@Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })</td>
                            <td>@Html.ActionLink("Editar", "Editar", new { id = Model.ALIDaluno }, new { @class = "btn btn-info" })</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
